body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.avatar {
    width: 200px;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

.avatar:hover {
    content: url('images/pic2.jpg');
}

.card {
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ffcdb2;
    color: #4a5759;
    border: 6px dashed #e5989b;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.col {
    padding: 2px;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

